<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FrontEndChallenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="dependencies/ngclipboard.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="app.js"></script>
    <script src="services/extractingDataService.js"></script>
    <script src="controllers/youtubeController.js"></script>
    <script src="services/filterServices.js"></script>
    <script src="services/paramsServices.js"></script>
    <script src="services/ConstantsServices.js"></script>
</head>
<body ng-app="app" ng-controller="youtubeController">

    <div ng-include src="'templates/navbar.html'"></div>

    <!-- START CONTAINER -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <!-- START NAVBAR FORMS -->
                <div class="col-lg-12 navbar-forms-container">
                    <ul class="list-inline">
                        <li >
                            <!-- START GET CHANNEL DATA -->
                            <form class="navbar-form get-channel-style">
                                <span>Channel Link</span>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-get-channel-style" ng-model="channel.channelLink">
                                </div>
                                <button class="btn btn-success button-get-channel-style btn-color" type="submit" ng-click="getYoutubeChannelData()">Submit</button>
                            </form>
                            <!-- END GET CHANNEL DATA -->
                        </li>
                        <li class="pull-right margin-div-custom">
                            <!-- START SEARCH CHANNEL-->
                            <form class="navbar-form search-channel-style">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-search-channel-style"placeholder="Search in titles and descriptions" size="31">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default button-search-channel-style" type="submit"><i class="glyphicon glyphicon-search" ></i></button>
                                    </div>
                                </div>
                            </form>
                            <!-- END SEARCH CHANNEL -->
                        </li>
                    </ul>
                </div>
                <!-- END NAVBAR FORMS -->

                <!-- START TABLE -->

                <!-- START TABLE CONTENT -->
                <div class="col-lg-12 table-container-style">
                    <h4>Videos items</h4>
                    <div class="table-responsive">
                        <table class="table table-striped " id="table-style">
                            <thead>
                                <tr>
                                    <th id="title-table-size-style">Title
                                        <div class="top-arrow"></div>
                                        <div class="down-arrow"></div>
                                    </th>
                                    <th>Upload Date
                                        <div class="top-arrow"></div>
                                        <div class="down-arrow"></div>
                                    </th>
                                    <th>Duration
                                        <div class="top-arrow"></div>
                                        <div class="down-arrow"></div>
                                    </th>
                                    <th>No. of views
                                        <div class="top-arrow"></div>
                                        <div class="down-arrow"></div>
                                    </th>
                                    <th>No. of likes
                                        <div class="top-arrow"></div>
                                        <div class="down-arrow"></div>
                                    </th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="video in videos" id="{{video.snippet.resourceId.videoId == selectedVideo.videoId?'selectedRow':''}}" ng-click="selectVideo(video.snippet.resourceId.videoId,video.snippet.thumbnails.medium.url,
                                                     video.snippet.thumbnails.high.url)">
                                    <td class="table-row-style">{{ video.snippet.title }}</td>
                                    <td class="table-row-style">{{ video.snippet.publishedAt | date:'yyyy-MM-dd'}}</td>
                                    <td class="table-row-style">{{ video.duration }}</td>
                                    <td class="table-row-style">{{ video.likeCount }}</td>
                                    <td class="table-row-style">{{ video.viewCount }}</td>
                                    <td class="table-row-style">{{ video.snippet.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END TABLE CONTENT -->

                    <!-- Start PAGING footer -->
                    <div class="col-lg-12">
                        <div class="row">
                            <!-- START PAGING COUNTER -->
                            <div class="col-lg-6">
                                <ul class="list-inline">
                                    <li>Page: 1 Show</li>
                                    <li>
                                        <input type="text" class="input-paging-style" value="50" size="4" disabled>
                                    </li>
                                    <li id="arrow-input-paging-style" >
                                        <div class="arrowContainer">
                                            <div class="page-down-arrow"></div>
                                            <div class="page-top-arrow"></div>
                                        </div>
                                    </li>
                                    <li id="entries-input-paging-style">
                                        entries
                                    </li>
                                </ul>
                            </div>
                            <!-- END PAGING COUNTER -->

                            <!-- START NEXT/PREV ARROWS -->
                            <div class="col-lg-6">
                                <ul class="list-inline">
                                    <li class="pull-right">
                                        <button class="btn btn-default next-prev-paging-style" type="submit">
                                            ❯
                                        </button>
                                    </li>
                                    <li class="pull-right">
                                        <button class="btn btn-default next-prev-paging-style next-button-margin-paging-style" type="submit">
                                            ❮
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- END NEXT/PERV ARROWS -->
                        </div>
                    </div>
                    <!-- END PAGING footer-->
                </div>
                <!-- END TABLE -->
            </div>
            <!-- START VIDEO DETAILS -->
            <div class="col-lg-4 control-margin-col-lg-4">
                <div class="col-lg-12 video-details-style">
                    <!-- START LIST GROUP ITEMS (HEADER - VIDEO - OPTONS) -->
                    <ul class="list-group video-details-items-style">
                        <!-- START HEADER -->
                        <li class="list-group-item header-item-video-details-style">
                            <h4 class="header-video-details-style">Video Details</h4>
                        </li>
                        <!-- END HEADER -->

                        <!-- START VIDEO FRAME -->
                        <li class="list-group-item frame-item-video-details-style">
                            <iframe width="100%" height="200px"
                                    ng-src="{{selectedVideo.completeURL}}">
                            </iframe>
                        </li>
                        <!-- END VIDEO FRAME-->

                        <!-- START OPTIONS FRAME -->
                        <li class="list-group-item option-item-video-details-style">

                            <!-- START FORMS-->
                            <ul class="list-group option-container-video-details-style">

                                <!-- START MEDIUM QUALITY FORM -->
                                <li class="list-group-item input-quality-video-details-style" style="">
                                    <form>
                                        <div class="form-group" >
                                            <label >Medium Quality thumbnail</label>
                                            <input id="medium-id" class="form-control btn-resize" type="text" ng-model="selectedVideo.mediumQuality"></div>
                                    </form>
                                </li>
                                <li class="list-group-item buttons-medium-quality-video-details-style">
                                    <input type="submit" class="btn btn-success pull-right button-video-details-style padding-btns btn-color" value="Download">
                                    <input type="submit" class="btn btn-success pull-right button-video-details-style btn-color" value="Copy" ngclipboard data-clipboard-target="#medium-id">
                                </li>

                                <!-- END MEDIUM QUALITY FORM -->

                                <!-- START HIGH QUALITY FORM -->
                                <li class="list-group-item input-quality-video-details-style" >
                                    <form>
                                        <div class="form-group" >
                                            <label >High Quality thumbnail</label>
                                            <input id="high-id" class="form-control btn-resize" type="text" ng-model="selectedVideo.highQuality">
                                           </div>
                                    </form>
                                </li>
                                <li class="list-group-item buttons-medium-quality-video-details-style">
                                    <input type="submit" class="btn btn-success pull-right button-video-details-style padding-btns btn-color" value="Download">
                                    <input type="submit" class="btn btn-success pull-right button-video-details-style btn-color" value="Copy" ngclipboard data-clipboard-target="#high-id">
                                </li>
                                <!-- END HIGH QUALITY FORM -->
                            </ul>
                            <!-- END FORMS-->
                        </li>
                        <!-- END OPTIONS FRAME -->
                    </ul>
                    <!-- END LIST GROUP ITEMS (HEADER - VIDEO - OPTONS) -->
                </div>
            </div>
            <!-- END VIDEO DETAILS -->
        </div>
    </div>
    <!-- END CONTAINER -->
</body>
</html>